<ion-view view-title="Login">
  <ion-content overflow-scroll="false">
    <div class="form-wrapper">
      <div class="card form-container">
        <div class="text-center col-center">
          <h2 class="form-title">{{::loginMessage}}</h2>
        </div>  
        <div class="list">    
          <label class="item item-input item-stacked-label">
            <span class="input-label">LSBU email</span>
            <input type="text" placeholder="example@lsbu.ac.uk" id="login_email">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="item-label">elephant app password</span>
            <input type="password" placeholder="Your elephant app Password" id="login_pass">
          </label>
          <label class="item item-input item-stacked-label"></label>
        </div>
        <div class="row">
          <button class="button button-calm button-full tabs tabs-icon-top" ng-click="loginUser()">
            <a class="tab-item active" style="display: inline-block;">
              <i class="icon ion-log-in"></i>
                Login
            </a>
          </button>
        </div>
        <div class="form-addons text-center">
          <p class="form-link">Do not have an account ? <a href="#/app/register">Register</a></p>
          <p class="form-link">Forgot your password ? <a href="#/app/requestreset">Request password</a></p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>