<ion-view view-title="Login">
  <ion-content>
    <div class="row">
      <div class="col col-center text-center" style="padding-top:40px;padding-bottom:40px">
        <h3>{{::loginMessage}}...</h3>
      </div>
    </div>
    <div class="list list-inset">
      <label class="item item-input item-stacked-label">
        <span class="item-label">LSBU email</span>
        <input type="text" placeholder="example@lsbu.ac.uk" id="login_email">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="item-label">elephant app password</span>
        <input type="password" placeholder="Your elephant app Password" id="login_pass">
      </label>
    </div>
    <div class="row">
      <div class="col col-center text-center" style="padding-left: 80px;">
        <a href="#/app/register"><h5>Register</h5></a>
      </div>
      <div class="col col-center text-center">
        <h5>|</h5>
      </div>
      <div class="col col-center text-center" style="padding-right: 80px;">
        <a href="#/app/requestreset"><h5>Forgot</h5></a>
      </div>
    </div>
  </ion-content>
  <div class="tab-striped  tabs-background-calm">
    <div class="tabs tabs-icon-top tabs-color-light ">
    <a class="tab-item active" ng-click="loginUser()">
      <i class="icon ion-log-in"></i>
      Login
    </a>
  </div>
</div>
</ion-view>
