<ion-view view-title="Enter your new password">
  <ion-content>
    <div class="form-wrapper">
      <div class="card form-container">
        <div class="text-center col-center">
          <h2 class="form-title">Type your new password</h2>
        </div>
        <div class="list">   
          <label class="item item-input item-stacked-label">
            <span class="input-label">New elephant app password</span>
            <input type="password" placeholder="Password" id="reset_pass">
          </label>
          <label class="item item-input item-stacked-label"></label>
        </div>
        <div class="row">
          <button class="button button-calm button-full tabs tabs-icon-top" ng-click="resetPassword()">
                Submit your new password
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
