#crop-image-container {
	display: none;
	min-height: 415px;
	height: 66vh;
	text-align: center;
	flex-direction: column-reverse;
	justify-content: space-between;
}

.list-inset.search-container {
  margin: 15px 10px 5px;
}